<div class="container-narrow">           
    <div class="row">
       <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 border">
           <div class="navbar-header">
               <div class="col-xs-4 sm-hidden md-hidden lg-hidden contenedor-boton">
                        <button type="button" class="navbar-toggle toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Cambiar Navegacion</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                        </button>
               </div>
               <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
                  <a ui-sref="root"><img src="img/logo-demo.png" alt="" class="logo"></a>
                  <!--<a href="#"><img src="img/logo-mini-demo.png" alt="" class="logo-mini"></a>-->
               </div>
            </div>
        </div> 
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="Col-xs-12 col-sm-5 col-md-5 col-lg-5 aviso-container border">
                <form action="#" method="get" class="navbar-form navbar-right">
                    <div class="form-group form-search">
                       <input type="text" name="query" class="form-control input-search" placeholder="Buscar" value="">
                    </div>
                    <button type="submit" class="btn button-search"><img src="img/lupe-search.png" alt="" class="img-lupe"></button>
                </form>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 aviso-container col-header-option border">
                <ul class="nav navbar-nav navbar-right ">
                     <li><a href="#map-cercanas" onclick="javascript:initialize(-31.416614, -64.183376);" role="button" data-toggle="modal"><span class="header-element"><b class="glyphicon glyphicon-globe"></b> Cercanas</span></a></li>
                     <li><a href="#" class=""><span class="header-element"><b class="glyphicon glyphicon-tag"></b> Publicar</span></a></li>
                     <li class=""><a href="#" class=""><span class="header-element"><b class="glyphicon glyphicon-user"></b> Ingresar</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
