<nav class="navbar-default sidebar">
   <div class="col-filtros"> 
        <ul class="filtros-container-show col-xs-12">
            <div>Filtros</div>
            <div class="filtros-container">
              <!--  <li class="filtro">
                    <span class="filtro-address">{{address}}</span><a href="#"><span>X</span></a>
                </li>
                <li class="filtro">
                    <span class="filtro-querySearch">{{querySearch}}</span><a href="#"><span>X</span></a>
                </li>-->
                <li ng-if="regionFilter" class="filtro">
                    <span class="filtro-prov-nom">{{regionFilter}}</span><span class="c_link" ng-click="crumbregionclose();">&times;</span>
                </li>
                <li ng-if="cityFilter" class="filtro">
                    <span class="filtro-local-nom">{{cityFilter}}</span><span class="c_link" ng-click="crumbcityclose();">&times;</span>
                </li>
                <li ng-if="subcategoryFilter" class="filtro">
                    <span class="filtro-subcat-nom">{{subcategoryFilter}}</span><span class="c_link" ng-click="crumbsubcatclose();">&times;</span>
                </li>
             </div>
        </ul>

   <!--     <ul class="filtros-container-show col-xs-12">
            <div>Filtros - Geolocalización</div>
            <div class="filtros-container">
              <li class="filtro">
                  <span class="filtro-address">{{)}}</span><a href=""><span>X</span></a>
              </li>
              <li class="filtro">
                  <span>{{}}</span><a href="#"><span>X</span></a>
              </li>
            </div>
        </ul>  -->
  </div>
        
   <section ng-if="!cities || regions">
       <h5>Provincias</h5>
       <ul>
           <li ng-repeat="region in regions " ng-class="{'collapse': region.id > 12 ? !toggle : remove}">
              <a ng-if="!subcategorySlug"  ui-sref="root.filter-region({region: region.slug})">{{region.name}}</a>
              <a ng-if="subcategorySlug" ui-sref="root.filter-region-subcat({region: region.slug, category: categorySlug, subcategory:subcategorySlug})">{{region.name}}</a>
           </li>
           <li><a href="" role="button" ng-click="toggle = !toggle"><span>{{!toggle ? 'Ver mas...' : 'Ver menos...'}}</span></a></li>
       </ul>
   </section>
   <section ng-if="cities">
       <h5>Localidades</h5>
       <ul>
           <li ng-repeat="city in cities" ng-class="{'collapse': $index > 11 ? !toggle : remove}">
              <a ng-if="!subcategorySlug"  ui-sref="root.filter-city({region:regionSlug, city:city.slug})">{{city.name}}</a>
              <a ng-if="subcategorySlug" ui-sref="root.filter-city-subcat({region:regionSlug, city:city.slug, category: categorySlug, subcategory:subcategorySlug})">{{city.name}}</a>
           </li>
           <li ng-hide="cities.length < 11">
              <a href="" role="button" ng-click="toggle = !toggle"><span>{{!toggle ? 'Ver mas...' : 'Ver menos...'}}</span>
              </a>
           </li>
       </ul>
   </section>
    <ul class="nav side-menu">
        <div class="titulo-menulat"><h4>Categorías</h4></div>
        <li class="menu-item" ng-repeat="category in categories" ng-click="selectItem(category.slug, $event);"><a href=""  title="menu" >
                <span class="item">{{category.name}}</span>&nbsp;<span class="item-total">({{category.total}})</span></a>
            <ul class="nav nav-second-level collapse">
                <li  ng-repeat="subcategory in subcategories" ng-if="category.id == subcategory.category">
                  <a ng-if="!regionSlug && !citySlug" ui-sref="root.filter-subcat({category: subcategory.category_slug, subcategory:subcategory.slug})" title="">
                      <span class="subitem">{{subcategory.name}}</span>&nbsp;<span class="subitem-total">({{subcategory.total}})</span>
                  </a>
                  <a ng-if="regionSlug && citySlug" ui-sref="root.filter-city-subcat({region:regionSlug, city:citySlug, category: subcategory.category_slug, subcategory:subcategory.slug})">
                    <span class="subitem">{{subcategory.name}}</span>&nbsp;<span class="subitem-total">({{subcategory.total}})</span>
                  </a>
                  <a ng-if="regionSlug && !citySlug" ui-sref="root.filter-region-subcat({region: regionSlug, category: subcategory.category_slug, subcategory:subcategory.slug})">
                      <span class="subitem">{{subcategory.name}}</span>&nbsp;<span class="subitem-total">({{subcategory.total}})</span>
                  </a>
                </li>
            </ul> 
        </li>
    </ul>
